/*	--------------------------------------------------
	:: BASE STYLES
	-------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

.header-contact-row, .header-brand-row, .header-text, .header-phone-email-row, .testimonials-block, .services-row, .about-heading, .about-row, .contact-row, footer {
    padding-left: 1%;
    padding-right: 1%;
}

.icon {
    position: relative;
    top: 1px;
}

#about h2, #ratings h2, #services h2, #testimonials h2 {
    color: #4b5b68;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
}

/*	--------------------------------------------------
	:: HEADER SECTION
	-------------------------------------------------- */

.header-contact a, .header-contact {
    color: #fff;
}

    .header-contact a {
        text-decoration: none;
    }

.header-contact a:hover {
    opacity: 0.6;
}

.header-contact {
    background-color: #054c61;
    font-size: 14px;
    padding: 10px 20px;
}

    .header-contact i {
        color: #51cef5;
    }

.separator {
    color: #fff;
    display: inline-block;
    padding: 0 10px;
}

.main-header {
    background: url('../images/homepage.png');
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    height: 950px;
}
.alt-header {
    background: none;
    height: auto;
}

.social-media-icons > a {
    margin-left: 12px;
}

.social-media-icons a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.bbb-logo {
    margin-top: -10px;
}
.ncoc-logo img {
    margin-top: -10px;
    border: #0ba1ce solid 2px;
}
.menu-widget .menu-widget-wrapper .menu-widget-item > a.menu-widget-logo {
    color: #51cef5;
    font-size: 36px;
    padding: 0 20px;
}
    .menu-widget .menu-widget-wrapper .menu-widget-item > a.menu-widget-logo i {
        font-size: 36px;
    }
    .menu-widget .menu-widget-wrapper .menu-widget-item > a.menu-widget-logo span {
        color: #ed7066;
        font-size: 42px;
    }

header .header-text {
    padding: 20% 18% 0 18%;
    text-shadow: 2px 2px 2px #000;
}

header h2 {
    color: #fff;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 60px;
    text-shadow: 0 0 7px #000000;
    text-transform: uppercase;
}

header h4 {
    color: #51cef5;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 40px;
    text-align: center;
}

header p {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-shadow: 0 0 3px #000;
}

.header-btn {
    background: #41a0be;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
    text-shadow: none;
    text-transform: uppercase;
}

.header-btn:hover {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

/*	--------------------------------------------------
	:: TESTIMONIALS SECTION
	-------------------------------------------------- */

#testimonials {
    background: #d3cfcf;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 5%;
}

/*	--------------------------------------------------
:: SERVICES SECTION
-------------------------------------------------- */

#services .services-row {
    margin-bottom: 25px;
}

#services .services-item {
    text-align: center;
}

#services .grid-row {
    padding-left: 10%;
    padding-right: 10%;
}

/*	--------------------------------------------------
	:: ABOUT SECTION
	-------------------------------------------------- */

#about {
    background: #d3cfcf;
    margin-top: 5px;
}

    #about h2 {
        padding-top: 0 !important;
    }

    #about h3 {
        color: #4b5b68;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

/*	--------------------------------------------------
	:: RATINGS AND MEMBERSHIP SECTION
	-------------------------------------------------- */

#ratings {
    padding: 0 40px 40px 80px;
}

.portfolio-widget .portfolio-widget-media .portfolio-widget-item {
    opacity: 1;
}

.portfolio-widget-item .portfolio-widget-description .facebook-rating {
    font-size: 33px!important;
    color: #4267B2!important;
}

.portfolio-widget-item .portfolio-widget-description i {
    color: #51cef5!important;
}

/*	--------------------------------------------------
	:: CONTACT SECTION
	-------------------------------------------------- */
#contact {
    background: #054c61;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

    #contact h5 {
        border: #959595 solid 1px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
    }

    #contact .hours, #contact .location, #contact .communication {
        border: #959595 solid 1px;
        color: #fff;
        font-size: 14px;
        padding: 10px;
    }

.contact-widget-default.contact-widget-light .contact-widget-header i {
    color: #51cef5;
}

.contact-widget-container {
    margin: 10px auto;
}

/*	--------------------------------------------------
	:: FOOTER SECTION
	-------------------------------------------------- */

footer {
    background: #023d4f;
    color: #fff;
    font-size: 12px;
    padding-top: 1%;
}

    footer p {
        margin-bottom: 0;
    }

    footer .copyright {
        padding-top: 10px;
        padding-bottom: 10px;
    }

/*	--------------------------------------------------
	:: SCROLL TO TOP BUTTON
	-------------------------------------------------- */

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ed7066;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #scrollBtn:hover {
        background-color: #ed7066;
        color: #000;
        text-decoration: none;
        opacity:0.4;
    }

/*	--------------------------------------------------
	:: Hover-Effects-Widget Override Styles
	-------------------------------------------------- */

.hover-effects-widget-default.hover-effects-widget-blue .hover-effects-widget-media-holder .hover-effects-tags {
    background-color: #1592b7;
    color: #fdfdfd;
}

.hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-fade .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-flipx .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-flipy .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-bounce-up .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-bounce-down .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-bounce-left .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-bounce-right .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-hinge-up .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-hinge-down .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-hinge-left .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-hinge-right .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-push-up .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-push-down .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-push-left .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-push-right .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-slide-up .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-slide-down .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-slide-left .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-slide-right .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-rotate .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-fallx .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-fally .hover-effects-widget-media-holder .hover-effects-widget-caption, .hover-effects-widget-default.hover-effects-widget-blue.hover-effects-widget-zoom .hover-effects-widget-media-holder .hover-effects-widget-caption {
    background-color: rgba(21,146,183,0.8);
}

/*	--------------------------------------------------
	:: Info-Boxes-Grid Override Styles
	-------------------------------------------------- */

.info-boxes-widget-default.info-boxes-widget-blue .info-boxes-widget-description .info-boxes-widget-media {
    background-color: #1592b7;
}

    .info-boxes-widget-default.info-boxes-widget-blue .info-boxes-widget-description .info-boxes-widget-media:before {
        box-shadow: 0 0 0 4px #1592b7;
    }

/*	--------------------------------------------------
	:: Testimonials Widget Override Styles
	-------------------------------------------------- */

.testimonials-widget-default.testimonials-widget-light .testimonials-widget-section blockquote p {
    color: #70828f;
}

