<footer>
    <section id="contact">
        <div class="row contact-row">
            <div class="contact-item col-md-4">
                <h5>Hours of Operation</h5>
                <div class="hours">
                    <i class="fa fa-clock-o fa-3x fa-pull-left" aria-hidden="true"></i>
                    <p>
                        Mon-Fri: 9:00 AM - 10:00 PM<br />
                        Sat-Sun: 9:00 AM - 5:00 PM
                    </p>
                </div>
            </div>
            <div class="contact-item col-md-4">
                <h5>Location</h5>
                <div class="location">
                    <i class="fa fa-compass fa-3x fa-pull-left" aria-hidden="true"></i>
                    <p>
                        8238 Fairways Drive SE<br />
                        Covington, Georgia 30014
                    </p>
                </div>
            </div>
            <div class="contact-item col-md-4">
                <h5>Contact</h5>
                <div class="communication">
                    <i class="fa fa-address-card fa-3x fa-pull-left" aria-hidden="true"></i>
                    <p>
                        Phone: (770) 286-1655<br />
                        Email: new2neat@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="row-footer-row">
        <div class="copyright">
            <p><i class="fa fa-copyright"></i> 2018, A New2Neat Cleaning Company</p>
        </div>
    </div>
</footer>
