<footer>
    <section id="contact">
        <div class="info-boxes-widget info-boxes-widget-default info-boxes-widget-blue info-boxes-widget-light">
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                            <div class="info-boxes-widget-media"><i class="icomoon-clock"></i></div>
                            <h4>Hours of Operation</h4>
                            <p>
                                Mon-Fri: 9:00 AM - 10:00 PM<br />
                                Sat-Sun: 9:00 AM - 5:00 PM
                            </p>
                        </div>
                    </div>
                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                            <div class="info-boxes-widget-media"><i class="icomoon-location4"></i></div>
                            <h4>Location</h4>
                            <p>
                                8238 Fairways Drive SE<br />
                                Covington, Georgia 30014
                            </p>
                        </div>
                    </div>
                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                        <div class="info-boxes-widget-description">
                            <div class="info-boxes-widget-media"><i class="icomoon-blog"></i></div>
                            <h4>Let's Connect</h4>
                            <p>
                                Phone: (770) 286-1655<br />
                                Email: new2neat@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="grid-container">
            <div class="grid-row">
                <div class="grid-item item-sm-4 item-md-4 item-lg-4 item-xl-4 item-xs-marginb10">
                    <h5>Hours</h5>
                    <div class="hours">
                        <i class="fa fa-clock-o fa-3x fa-pull-left" aria-hidden="true"></i>
                        <p>
                            Mon-Fri: 9:00 AM - 10:00 PM<br />
                            Sat-Sun: 9:00 AM - 5:00 PM
                        </p>
                    </div>
                </div>
                <div class="grid-item item-sm-4 item-md-4 item-lg-4 item-xl-4 item-xs-marginb10">
                    <h5>Location</h5>
                    <div class="location">
                        <i class="fa fa-compass fa-3x fa-pull-left" aria-hidden="true"></i>
                        <p>
                            8238 Fairways Drive SE<br />
                            Covington, Georgia 30014
                        </p>
                    </div>
                </div>
                <div class="grid-item item-sm-4 item-md-4 item-lg-4 item-xl-4 item-xs-marginb10">
                    <h5>Contact</h5>
                    <div class="communication">
                        <i class="fa fa-address-card fa-3x fa-pull-left" aria-hidden="true"></i>
                        <p>
                            Phone: (770) 286-1655<br />
                            Email: new2neat@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
    </section>
    <div class="row-footer-row">
        <div class="copyright">
            <p>&copy; 2018, A New2Neat Cleaning Company</p>
        </div>
    </div>
</footer>
