<div class="header-contact">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-item item-sm-9 item-md-9">
                <a href=""><i class="icon icomoon-envelop"></i> Email: new2neat@gmail.com</a> <span class="separator">|</span>
                <a href=""><i class="icon icomoon-phone2"></i> Call: (770) 286-1655</a>
            </div>
            <div class="grid-item item-sm-3 item-md-3 text-right">
                <div class="social-media-icons">
                    <a href="https://www.facebook.com/New2Neat/" target="_blank"><i class="icomoon-facebook"></i></a>
                    <a href="https://plus.google.com/+ANewtoNeatCleaningCompanyCovington" target="_blank"><i class="icomoon-google-plus"></i></a>
                    <a href=""><i class="icomoon-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-contact centered text-center">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-item item-xs-12">
                <a href=""><i class="icon icomoon-envelop"></i> Email: new2neat@gmail.com</a><br/>
                <a href=""><i class="icon icomoon-phone2"></i> Call: (770) 286-1655</a>
            </div>
            <div class="grid-item item-xs-12">
                <div class="social-media-icons">
                    <a href="https://www.facebook.com/New2Neat/" target="_blank"><i class="icomoon-facebook"></i></a>
                    <a href="https://plus.google.com/+ANewtoNeatCleaningCompanyCovington" target="_blank"><i class="icomoon-google-plus"></i></a>
                    <a href=""><i class="icomoon-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-row header-brand-row">
    <div class="menu-widget menu-widget-default menu-widget-light menu-widget-fade">
        <!-- RESPONSIVE TOGGLE MENU START -->
        <input type="checkbox" id="toggle-three" name="toggle3" class="menu-widget-togglei">
        <label for="toggle-three" class="menu-widget-togglel">
            <span class="menu-widget-logo">
                <i class="icomoon-broom"></i>New<span>2</span>Neat
            </span>
            <i class="icomoon-menu7"></i>
        </label>
        <!-- RESPONSIVE TOGGLE MENU END -->
        <div class="menu-widget-wrapper">
            <div class="menu-widget-item menu-widget-left shine">
                <a href="/" class="menu-widget-logo"><i class="icomoon-broom"></i>New<span>2</span>Neat</a>
            </div>
            <div class="menu-widget-item">
                <a href="#about"><i class="icomoon-user"></i>About</a>
            </div>
            <div class="menu-widget-item" id="menu-widget-right-arrow">
                <input type="checkbox" id="menu-twelve" name="menu3" class="menu-widget-input">
                <label for="menu-twelve" class="menu-widget-label"><i class="icomoon-office"></i>Services</label>
                <ul class="menu-widget-section">
                    <li><a href="#"><i class="icomoon-city"></i> Apartment</a></li>
                    <li><a href="#"><i class="icomoon-home6"></i> Residential</a></li>
                    <li><a href="#"><i class="icomoon-office"></i> Commercial</a></li>
                    <li><a href="#"><i class="icomoon-box-add"></i> Move In/Move Out</a></li>
                    <li><a href="#"><i class="icomoon-construction"></i> Construction</a></li>
                    <li><a href="#"><i class="icomoon-paint-format"></i> Renovation</a></li>
                </ul>
            </div>
            <div class="menu-widget-item">
                <a href="#testimonials"><i class="icomoon-bubble-dots4"></i>Testimonials</a>
            </div>
            <div class="menu-widget-item">
                <a href="#ratings"><i class="icomoon-stars"></i>Ratings</a>
            </div>
            <div class="menu-widget-item">
                <a href="/contact"><i class="icomoon-phone"></i>Contact</a>
            </div>
        </div>
    </div>
</div>
