@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="testimonials">
    <div class="grid-holder">
        <div class="column twelve nospacedes nospaceres margintb30">
            <h2>What Our Clients Say About Us!</h2>
        </div>
    </div>
    <div class="grid-holder">
        <div class="column three nospacedesl nospaceresl halfdivision1199 halfdivision959 marginbres30">
            <div class="testimonials-widget testimonials-widget-default testimonials-widget-blue testimonials-widget-light">
                <div class="testimonials-widget-section">
                    <blockquote><i class="icon-quotes-left"></i><p>I've used A New to Neat Cleaning for both my home and business services. The owner (Lynda) has a key to both my home and business - I wouldn't do this unless I trusted with my livelihood. The quality of their work is top notch. I have and will continue to suggest everyone use A New to Neat Cleaning!</p></blockquote>
                    <h4>Andrew Higgins</h4>
                    <h6>Residential &amp; Commercial Client</h6>
                    <div class="testimonials-widget-section-border"></div>
                </div>
            </div>
        </div>
        <div class="column three nospacedesl nospaceresl halfdivision1199 halfdivision959 marginbres30">
            <div class="testimonials-widget testimonials-widget-default testimonials-widget-blue testimonials-widget-light">
                <div class="testimonials-widget-section">
                    <blockquote><i class="icon-quotes-left"></i><p>I used A New To Neat their first year in business,as well as, the present. There has been no deterioration in job performance. Lynda has the tenacity of a pit bull and the ingenuity of Einstein.  She will get the job done guaranteed. If anyone worked harder...than Lynda, I haven't met them.</p></blockquote>
                    <h4>Steve Smith</h4>
                    <h6>Residential Client</h6>
                    <div class="testimonials-widget-section-border"></div>
                </div>
            </div>
        </div>
        <div class="column three nospacedesl nospaceresl halfdivision1199 halfdivision959 marginb2res30">
            <div class="testimonials-widget testimonials-widget-default testimonials-widget-blue testimonials-widget-light">
                <div class="testimonials-widget-section">
                    <blockquote><i class="icon-quotes-left"></i><p>I’ve hired someone to clean my home but was never impressed enough to have them clean on a continuous basis until Lynda.   Lynda cleaned as I do and for the first time, I have confidence in turning this responsibility over to her. She is conscientious of my love for eco-green products and attentive.</p></blockquote>
                    <h4>Sharron E.</h4>
                    <h6>Residential Client</h6>
                    <div class="testimonials-widget-section-border"></div>
                </div>
            </div>
        </div>
        <div class="column three nospacedesl nospaceresl halfdivision1199 halfdivision959">
            <div class="testimonials-widget testimonials-widget-default testimonials-widget-blue testimonials-widget-light">
                <div class="testimonials-widget-section">
                    <blockquote><i class="icon-quotes-left"></i><p>Lynda and her company A New To Neat Cleaning is proof positive you get what you pay for. A lot of others talk big, but Lynda and Janis delivered when they cleaned our home. Looks like when we first moved in! What a treat to be able to just focus on cooking & entertaining for the holidays.</p></blockquote>
                    <h4>Brandi Oliver</h4>
                    <h6>Residential Client</h6>
                    <div class="testimonials-widget-section-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-item item-lg-12 item-xs-marginb30">
                <h2>We offer cleaning services for any situation!</h2>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/apartment.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Apartment</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Apartment</span> Services</h4>
                            <p>We provide excellent apartment cleaning services on a schedule that fits your needs.</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/residential.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Residential</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Residential</span> Services</h4>
                            <p>We take the time to learn personal preferences for cleaning your home.</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/commercial.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Commercial</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Commercial</span> Services</h4>
                            <p>Save up to 20% on your current janitorial costs with increased worker productivity and quality assurance checks.</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/moving.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Move In/Move Out</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Moving</span> Services</h4>
                            <p>Moving? We can assist with packing and cleaning. We do it all!</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/construction.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Construction</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Construction</span> Services</h4>
                            <p>We are the clean-up specialists that add the finishing touches to new construction.</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item item-lg-4 item-xs-marginb30">
                <div class="hover-effects-widget hover-effects-widget-default hover-effects-widget-blue hover-effects-widget-fade">
                    <div class="hover-effects-widget-media-holder">
                        <img src="~/images/renovation.png">
                        <div class="hover-effects-widget-caption"></div>
                        <div class="hover-effects-tags">Renovation</div>
                        <div class="hover-effects-widget-description">
                            <h4><span>Renovation</span> Services</h4>
                            <p>No matter the size of your reno project, we can take your property from rough to neat cost-efficiently.</p>
                            <a href="#"><i class="icomoon-link4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="grid-holder">
        <div class="column twelve nospacedes nospaceres margintb30">
            <h2>Why Our Customers Trust Us</h2>
        </div>
    </div>
    <div class="info-boxes-widget info-boxes-widget-default info-boxes-widget-red info-boxes-widget-light">
        <div class="grid-holder">
            <div class="column three nospacedes nospaceres">
                <div class="info-boxes-widget-description info-boxes-widget-borderr">
                    <div class="info-boxes-widget-media"><i class="icon-certificate"></i></div>
                    <h4>Licensed, Bonded &amp; Insured</h4>
                    <p>You can feel good about hiring us for your cleaning needs. We're fully licensed, bonded, and insured.</p>
                </div>
            </div>
            <div class="column three nospacedes nospaceres">
                <div class="info-boxes-widget-description info-boxes-widget-borderr">
                    <div class="info-boxes-widget-media"><i class="icon-calendar"></i></div>
                    <h4>Flexible Arrangements</h4>
                    <p>We offer weekly, bi-weekly, monthly, as-needed, or customized arrangements based on your needs.</p>
                </div>
            </div>
            <div class="column three nospacedes nospaceres">
                <div class="info-boxes-widget-description info-boxes-widget-borderr">
                    <div class="info-boxes-widget-media"><i class="icon-magic-wand2"></i></div>
                    <h4>100% Satisfaction Guaranteed</h4>
                    <p>We professional trained team with an emphasis on thoroughly cleaning your home to satisfaction.</p>
                </div>
            </div>
            <div class="column three nospacedes nospaceres">
                <div class="info-boxes-widget-description">
                    <div class="info-boxes-widget-media"><i class="icon-location3"></i></div>
                    <h4>Local &amp; Woman-Owned Business</h4>
                    <p>Over 20 years providing cleaning services in the Greater Atlanta area.</p>
                </div>
            </div>
        </div>
    </div>
</section>
