@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Pages/_AltLayout.cshtml";
}

<div class="portfolio-widget-wrapper">
    <div class="portfolio-widget portfolio-widget-flat portfolio-widget-blue portfolio-widget-light portfolio-widget-fade">
        <div class="portfolio-widget-media">
            <div class="grid-container">
                <div class="grid-masonry item-lg-masonry-3 item-sm-masonry-2 item-xs-masonry-1">
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-three.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Kitchen</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-two.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Exterior</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-five.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Bathroom Sink</h4>>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-one.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Kitchen / Dining Room</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-six.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Hallway / Staircase</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-four.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Living / Family Room</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-eight.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Bathroom</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-seven.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Family Room</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-masonry-item">
                        <div class="portfolio-widget-item all photography">
                            <div class="portfolio-widget-media-holder">
                                <img src="~/images/portfolio/gallery-nine.png">
                                <div class="portfolio-widget-media-caption"></div>
                                <div class="portfolio-widget-media-description">
                                    <h4>Carpet Cleaning</h4>
                                </div>
                            </div>
                            <div class="portfolio-widget-description">
                                <p>Residential Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
