@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
    Layout = "~/Pages/_AltLayout.cshtml";
}

<div class="tabs-widget-wrapper">
    <div class="tabs-widget tabs-widget-flat tabs-widget-blue tabs-widget-dark tabs-widget-fade">
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="apartment" name="tabs" checked="checked" class="tabs-widget-input">
            <label for="apartment" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-city"></i>Apartment</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/apartment-wide.png" />
                                <h4>Apartment Cleaning</h4>
                                <p>Even the neatest tenants find it hard to reverse the staining and damage to carpets, flooring, walls, and fixtures that come with daily living. Whether you’re a landlord or a tenant looking to make an apartment look clean as new, use our professional cleaning services to get out ground-in stains and pet stains, clean those hard-to-reach surfaces, and make your tile and grout look freshly installed.</p>
                                <p>Our team of professional cleaners can help you get an apartment deodorized and ready for new tenants, get your deposit back, erase messes made by kids and pets, and keep older apartments from looking dated. In the long run, our professional cleaning services will save you the time, money, stress, and costly mistakes that often come with trying to perform a deep clean yourself. </p>
                            </div>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <div class="info-boxes-widget info-boxes-widget-default info-boxes-widget-blue info-boxes-widget-light">
                            <div class="grid-container">
                                <div class="grid-row">
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-phone-incoming"></i></p>
                                            <h4>Have Questions?</h4>
                                            <p>(770) 286-1655</p>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4 text-center">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-bubble-dots4"></i></p>
                                            <a href="/contact" class="request-btn">Request A Quote</a>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description">
                                            <p class="action-icon"><i class="icomoon-envelop3"></i></p>
                                            <h4>Need More Info?</h4>
                                            <p>new2neat@email.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="residential" name="tabs" class="tabs-widget-input">
            <label for="residential" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-home6"></i>Residential</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/residential-wide.png" />
                                <h4>Residential Cleaning</h4>
                                <p>We all do our best to keep our homes as clean as possible, but when we’re juggling jobs, kids, errands, and social commitments, keeping the windows clean and the carpet fresh can be a challenge. If you’re tired of pushing spring cleaning back on your to-do list, give us a call. We offer a wide range of professional cleaning services that’ll save you time, increase your quality of living, and keep your house looking new instead of too “lived in.”</p>
                                <p>You’ll also want to use our services if you’re about to put your house on the market and need to make it look as good as possible to potential buyers, are unable to clean your home due to illness or disability, have kids and pets that make frequent messes, or have a large space that requires a lot of time and maintenance. Whatever your situation, we have the people, tools, and skills necessary to thoroughly clean your home.</p>
                            </div>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <div class="info-boxes-widget info-boxes-widget-default info-boxes-widget-blue info-boxes-widget-light">
                            <div class="grid-container">
                                <div class="grid-row">
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-phone-incoming"></i></p>
                                            <h4>Have Questions?</h4>
                                            <p>(770) 286-1655</p>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4 text-center">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-bubble-dots4"></i></p>
                                            <a href="/contact" class="request-btn">Request A Quote</a>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description">
                                            <p class="action-icon"><i class="icomoon-envelop3"></i></p>
                                            <h4>Need More Info?</h4>
                                            <p>new2neat@email.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="commercial" name="tabs" class="tabs-widget-input">
            <label for="commercial" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-office"></i>Commercial</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/commercial-wide.png" />
                                <h4>Commercial Cleaning</h4>
                                <p>A commercial space should look professional—and that requires professional cleaning. After all, a thriving commercial space sees a lot of traffic, and that traffic can lead to soiled or stained floors, bathrooms, and walls. Our professional cleaning services can handle that level of maintenance to keep commercial spaces clean enough for current and potential customers, employees, commercial tenants, and health inspectors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <div class="info-boxes-widget info-boxes-widget-default info-boxes-widget-blue info-boxes-widget-light">
                            <div class="grid-container">
                                <div class="grid-row">
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-phone-incoming"></i></p>
                                            <h4>Have Questions?</h4>
                                            <p>(770) 286-1655</p>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4 text-center">
                                        <div class="info-boxes-widget-description info-boxes-widget-borderr">
                                            <p class="action-icon"><i class="icomoon-bubble-dots4"></i></p>
                                            <a href="/contact" class="request-btn">Request A Quote</a>
                                        </div>
                                    </div>
                                    <div class="grid-item item-md-4 item-lg-4 item-xl-4">
                                        <div class="info-boxes-widget-description">
                                            <p class="action-icon"><i class="icomoon-envelop3"></i></p>
                                            <h4>Need More Info?</h4>
                                            <p>new2neat@email.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="moving" name="tabs" class="tabs-widget-input">
            <label for="moving" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-box-add"></i>Move In/Move Out</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/moving-wide.png" />
                                <h4>Move In/Move Out</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="construction" name="tabs" class="tabs-widget-input">
            <label for="construction" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-construction"></i>Construction</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/construction-wide.png" />
                                <h4>After Construction</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-widget-tab tabs-widget-arrow">
            <input type="radio" id="renovation" name="tabs" class="tabs-widget-input">
            <label for="renovation" class="tabs-widget-label"><span class="tabs-widget-header"><i class="icomoon-paint-format"></i>Renovation</span></label>
            <div class="tabs-widget-section">
                <div class="tabs-widget-section-content">
                    <div class="grid-container">
                        <div class="grid-row">
                            <div class="grid-item item-md-12">
                                <img src="~/images/renovation-wide.png" />
                                <h4>After Renovation</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstra lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuedium.</p>
                                <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

